.user_parametre {
    height: auto;
    margin-bottom: 2rem;
    background-color: transparent;
}
.form_modify_info {
    margin-top: 3rem;
    height: auto;
    width: 420px;
    padding: 2rem;
    background-color: white;
}
.user_input input {
    font-size: 1rem;
}
.btn_inscription {
    margin-top: 1rem;
}
